/* ###################### Começo do Geral ###################### */

body {
    background-color: #e9edf0;
}

@font-face {
    font-family: 'rexila';
    src: url('../fonts/rexlia\ rg.otf');
}

@font-face {
    font-family: 'astronomus';
    src: url('../fonts/Astronomus.ttf');
}

/* ######################  Fim do Geral ###################### */

/* ###################### Começo do Header ###################### */

.linha-topo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.logo-header {
    font-size: 32px;
    font-weight: bold;
    margin-right: 16px;
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
}

.botoes-nav {
    display: flex;
    font-size: 15pt;
    padding: 10px 0px;
    top: 0;
    right: 0;
}

.botoes-nav ul {
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
}

.botoes-nav-item {
    color: black;
    margin-right: 16px;
    text-decoration: none;
    padding: 3px;
    font-size: 17pt;
}

.botoes-nav-item.active {
    border: solid 2px black;
}

.botoes-nav-item:hover {
    color: rgb(75, 75, 202) !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

.botoes-nav-item.active:hover {
    border: solid 2px rgb(54, 54, 153) !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

/* ###################### Fim do Header ###################### */

/* ###################### Começo do Principal ###################### */

.banner-energia-solar {
    margin: 15px;
    max-width: 100%;
    display: flex;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-direita {
    display: flex;
    font-size: 12pt;
    padding: 10px 0px;
    position: relative;
}

.linha-divisoria {
    width: 100%;
}

.conteudo-principal-direita-frase {
    font-family: 'rexila', sans-serif;
}

/* ###################### Fim do Principal ###################### */

/* ###################### Começo do Missão, Visão e Valores (mvv) ###################### */

.bg-mvv {
    background: url(../images/ENERGIA_SOLAR_SHUTTER.png) fixed no-repeat;
    height: 250px;
}

.mvv-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mvv-conteudo {
    font-size: 18pt;
    color: white;
    font-family: 'rexila';
    margin-top: 100px;
}
/* ###################### Fim do Missão, Visão e Valores ###################### */

/* ###################### Começo do Produtos ###################### */

.conteudo-produtos {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

.conteudo-produtos-info {
    margin: 15px;
}

.conteudo-produtos-info-titulo {
    font-size: 30pt;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5px;
}

.conteudo-produtos-info-divisoria {
    width: 100%;
}

.produtos-opcoesbtns {
    display: flex;
    margin: 10px auto;
}

.produtos-opcoesbtns div{
    margin: 10px;
    cursor: pointer;
}

.imagens-produtos {
    display: flex;
}

.imagens-produtos div{
    margin: 10px;
}

.imagens-produtos img {
    width: 70%;
}

.opcao {
    font-size: 14pt;
}

.opcao:hover {
    border-bottom: solid 2px rgb(84, 84, 233);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/* ###################### Fim do Produtos ###################### */


/* ###################### Começo do Footer ###################### */
.bg-footer {
    background-color: #d4d4d4;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ###################### Fim do Footer ###################### */