body {
    background-color: #e9edf0;
}

/* ###################### Começo do Header ###################### */

.linha-topo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.logo-header {
    font-size: 32px;
    font-weight: bold;
    margin-right: 16px;
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
}

.botoes-nav {
    display: flex;
    font-size: 15pt;
    padding: 10px 0px;
    top: 0;
    right: 0;
}

.botoes-nav ul {
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
}

.botoes-nav-item {
    color: black;
    margin-right: 16px;
    text-decoration: none;
}

.botoes-nav-item.active {
    border: solid 2px black;
}

.botoes-nav-item:hover {
    color: rgb(75, 75, 202) !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

.botoes-nav-item.active:hover {
    border: solid 2px rgb(54, 54, 153) !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

/* ###################### Fim do Header ###################### */

/* ###################### Começo do Principal ###################### */

.banner-energia-solar {
    margin: 15px;
    max-width: 100%;
    display: flex;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo-principal-direita {
    display: block;
    font-size: 14pt;
    padding: 10px 0px;
    position: relative;
}

.linha-divisoria {
    width: 400px;
}


/* ###################### Fim do Principal ###################### */
